{% extends 'mail/mail.twig' %}

{% block content %}
<h2>Datos del voluntario</h2>
<table>
    <tr>
        <th> Nombre completo </th>
        <td>{{ nombre }} {{ apellido }}</td>
    </tr>
    <tr>
        <th> Fecha de nacimiento </th>
        <td>{{ nac }}</td>
    </tr>
    <tr>
        <th> Teléfono </th>
        <td>{{ telefono }}</td>
    </tr>
    <tr>
        <th> Ciudad </th>
        <td>{{ ciudad }}</td>
    </tr>
    <tr>
        <th> Email </th>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <th> Oficio </th>
        <td>{{ oficio }}</td>
    </tr>
    <tr>
        <th> Posible área de desarrollo </th>
        <td>{{ area }}</td>
    </tr>
    <tr>
        <th> Capacitación en </th>
        <td>{{ capacitacion }}</td>
    </tr>

</table>
{% endblock %}